/* Estilos generales para los elementos */
ion-card {
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

ion-header {
  --background: #3880ff;
  padding: 10px;
  color: #fff;
}

ion-card-header {
  background-color: #f4f4f4;
  padding: 10px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

ion-card-subtitle {
  color: azure;
  font-size: 12px;
  font-weight: bold;
}

ion-card-content {
  padding: 15px;
  background-color: #fff;
  color: #555;
}

ion-input {
  margin: 10px;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Estilos para pantallas pequeñas (dispositivos móviles) */
@media (max-width: 767px) {
  ion-card {
    margin-bottom: 15px;
    padding: 15px;

    border-radius: 8px;

    background-color: #ffffff;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  }

  ion-card-header {
    background-color: #007acc;

    padding: 12px;
    border-radius: 6px 6px 0 0;

  }

  ion-card-title {
    font-size: 18px;

    line-height: 1.5;
    font-weight: bold;

    color: #ffffff;

  }

  ion-card-content {
    padding: 10px;
    font-size: 14px;

    color: #333333;

  }

  ion-input {
    margin: 10px 0;
    padding: 12px;
    background-color: #f7f7f7;

    border: 1px solid #ddd;

    border-radius: 6px;

    font-size: 14px;

  }

  ion-input:focus {
    border-color: #007acc;

    box-shadow: 0 0 5px rgba(0, 122, 204, 0.5);

  }
}


/* Estilos para pantallas medianas (tabletas) */
@media (min-width: 768px) and (max-width: 1023px) {
  ion-card {
    margin-bottom: 18px;
    padding: 12px;
  }

  ion-card-header {
    background-color: #dcdcdc;
  }

  ion-card-title {
    font-size: 18px;
    line-height: 1.4;
  }

  ion-card-content {
    padding: 12px;
  }

  ion-card-subtitle {
    color: rgb(92, 92, 92);
    font-size: 12px;
    font-weight: bold;
  }


  ion-input {
    margin: 10px 0;
    padding: 12px;
  }
}

/* Estilos para pantallas grandes (escritorios) */
@media (min-width: 1024px) {
  ion-card {
    background-color: #007acc;

    color: #ffffff;

    margin-bottom: 20px;
    padding: 20px;
  }

  ion-card-header {
    background-color: #006bb3;

    color: #ffffff;

  }

  ion-card-title {
    font-size: 22px;
    font-weight: bold;
    color: #ffffff;

    background-color: #006bb3;

  }

  ion-card-content {
    padding: 20px;
    font-size: 16px;
    color: #333333;

  }

  ion-input {
    padding: 14px;
    margin: 12px 0;
    background-color: #f1f1f1;

    color: #333333;

    border: 1px solid #ccc;

  }
}