ion-card {
  margin-bottom: 20px;
}

ion-header {
  --background: #3880ff;
}

ion-card-header {
  background-color: #f4f4f4;
}

ion-card-title {
  color: #333;
}

ion-card-content {
  padding: 10px;
}

ion-input {
  margin: 10px;
}