<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Listado de productos
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-input [(ngModel)]="filtro" placeholder="Introduce el nombre del producto para filtrar">
    </ion-input>

    <ion-grid>
        <ion-row>
            <!-- Itera sobre la lista de productos -->
            <ng-container *ngFor="let producto of productos | async">
                <!-- Solo muestra los productos que coincidan con el filtro -->
                <ion-col *ngIf="filtro === '' || producto.name.toLowerCase().includes(filtro.toLowerCase())" size="12"
                    size-md="6" size-lg="4" size-xl="3">
                    <ion-card>
                        <img [src]="producto.image" alt="Imagen de producto">
                        <ion-card-header>
                            <ion-card-title>{{ producto.name }}</ion-card-title>
                            <ion-card-subtitle>{{ producto.category }}</ion-card-subtitle>
                        </ion-card-header>
                        <ion-card-content>
                            <p>Precio: ${{ producto.price }}</p>
                        </ion-card-content>
                    </ion-card>
                </ion-col>
            </ng-container>
        </ion-row>
    </ion-grid>
</ion-content>